*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
}
html {
    scroll-behavior: smooth;
}
.navBar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #15191d;
    color: #087ea4;
    background-color: #ebecf0;
    box-shadow : 5px 5px 5px #ff6633;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#mode {
    width: 40px;
    height: 40px;
    float: right;
}
#mode1 {
    width: 40px;
    height: 40px;
    display: none;
}
hr {
    visibility: hidden;
}
.frontBody,.frontBody2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fronText {
    color: #212529;
    width: 50vw;
    letter-spacing: 3px;
}
.fronText h1,.fronText2 h1 {
    margin-top: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6633;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 2em;
}
.fronText h2, .fronText2 h2 {
    margin: 6vh 0 5vh 0;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    line-height: 1.2em;
    font-size: 1.2em;
}
      /* button portion */
.btn,.btn2{
    padding: 3vh;
    border-radius: 15px;
    background-color: #ff6633;
    color: #FFF;
    border: none;
    box-shadow: 0 0 5px #ff6633,0 0 25px #ff6633;
    font-size: 0.8rem;
}
.scrl {
    display: flex;
    padding: 2vh;
    float: right;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ff6633;
    color: #FFF;
    border: none;
    box-shadow: 0 0 5px #ff6633,0 0 25px #ff6633;
    letter-spacing: 1px;
    align-items: center;
}
.scrl img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}
.btn2 {
    float: right;
}
.btn:hover,.btn2:hover,.scrl:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #ff6633, 0 0 25px #ff6633, 0 0 50px,0 0 100px #ff6633, 0 0 200px #ff6633;
}
            /* front image portion */
     
.frontImg img, .frontImg2 img {
    width: 35vw;
    height: 70vh;
    animation: fadeInFromTop .5s linear forwards, floating ease  4s infinite;
}
.frontImg2 img {
    width: 30vw;
    height: 55vh;
}
@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes floating {
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform: translate(4%, 8%) rotate(360deg);
    }
    50%{
        transform: translate(8%, 4%) rotate(360deg);
    }
    75%{
        transform: translate(0%, 10%) rotate(360deg);
    }
    100%{
        transform: translate(0%, 0%) rotate(360deg);
    }
}
   /* bottom navbar styling */
   .btmNavHead{
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ff6633;
    letter-spacing: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
   }
.bottomBar {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.bar {
    display: flex;
    border: 5px solid #ff6633;
    background-color: #ebecf0;
    width: 50vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #ff6633, 0 0 25px #ff6633, 0 0 50px,0 0 5px #ff6633, 0 0 100px #ff6633;
}
.bottomBar img {
    width: 44px;
    height: 44px;
    padding: 0px 15px;
}
.scrlup img{
    width: 30px;
    height: 30px;
    border: 2px solid #ff6633;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0 0 5px #ff6633, 0 0 25px #ff6633, 0 0 50px,0 0 5px #ff6633;
}
.scrlup img:hover {
    width: 35px;
    height: 35px;
}
.reveal {
    transform: translateY(0px);
    opacity: 0;
    transition: all 3s ease;
}
.reveal.active {
    transform: rotateY(0px);
    opacity: 1;
}